*{
    margin: 0;
    padding: 0;
    
}
section{
    padding: 1rem;
    padding: 0 8%;
    min-height: 100vh;
}
#menubar{
    font-size: 2rem;
    background-color: gray;
    color: white;
    border-radius: 5rem;
    height: 4rem;
    width: 4rem;
    text-align: center;
    line-height: 4rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 1000;
    cursor: pointer;
}
#menubar.fas fa-bars{
    transform: rotate(-180deg);
    color: white;
}
.navbar{
    position: fixed;
    top: 2.4rem;
    right: 2.5rem;
    padding: 1.1rem 2rem;
    padding-right: 4rem;
    z-index: 999;
    border: 0.1rem solid lightgray;
    border-radius: 1rem;
    opacity: 0;
    transform-origin: top right;
    transform: scale(0);
    text-transform: capitalize;
    background-color: rgba(169, 169, 169, 0.068);
}
.navbar.nav-toggle{
    opacity: 1;
    transform: scale(1);
}
.navbar a{
    display:block;
    font-size: 1.1rem;
    padding: 1rem;
    padding-right: 7rem;
    color:black;
    text-decoration: none;
}
.navbar a:hover{
    color:red;
    transform: translateX(1rem);
}

/* home section */
.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(..//img/widescreen-high-resolution-nature-hd-1920x1080-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home .image{
    flex: 1 1 40rem;
    padding: 1rem;
    text-align: center;
}
.home .image img{
    width: 17rem;
    height: 17rem;
    padding: .2rem;
    /* box-shadow: 0 .5rem 1rem lightgray; */
    border: .2rem solid black;
    /* border-top: .5rem solid rgba(216, 191, 216, 0.616);
    border-right: .5rem solid rgba(216, 191, 216, 0.918);
    border-left: .5rem solid rgba(0, 128, 128, 0.329);
    border-bottom: .5rem solid rgba(0, 128, 128, 0.329); */
    border-radius: .5rem;
    border-radius: 50%;
}
.home .content{
    flex: 1 1 40rem;
    padding: 1rem;
}


/* responsive */
/* mobile view */
@media screen and (max-width:426px) {
.navbar{
    top: 8rem;
    left: 2.5rem;
   
}   
}